# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

aws-cdk-lib==2.178.0
constructs>=10.0.0,<11.0.0
pyyaml==6.0.2
cdk-nag==2.35.11
boto3==1.36.14
# Alpha 
aws-cdk.aws-cognito-identitypool-alpha==2.178.0a0
